@import "variables_overrides";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/*
Primary: #8F5BFE
dark: #1F016D
light: #E1E0FF

font title: Gloria Hallelujah
font principale: Quicksand-Regular

Lancer sass (depuis dossier racine):
sass --watch frontend/custom_code/SCSS/style.scss:frontend/custom_code/CSS/style.css 
*/

//polices personnalisées
@font-face
{
    font-family: "titles";
    src: url("../../ressources/fonts/GloriaHallelujah.ttf") format("truetype");
}

@font-face
{
    font-family: "base";
    src: url("../../ressources/fonts/Quicksand-Regular.otf") format("opentype");
}

*
{
    font-family: base;
    color: $primary;
    font-weight: bold;
}
h1, h2, h3, h4, h5
{
    font-family: titles;
    color: $primary;
    
}

//accessibilité
a:focus
{
    border: solid 3px $secondary;
}

//centrage boutons
.boutonWidth
{
    width: 10rem;
}

//Apparition éléments
@keyframes apparition
{
  0%
  {
    transform: translateY(200%);
    opacity: 0;
  } 
  45%
  {
    transform: translateY(-5%);
  }
  100%
  {
    transform: translateY(0);
  }
}

//animations d'apparition: ajouter classe anim aux éléments à faire apparaître
$dureeApparition:1000ms;
.anim
{
    transform: translateY(200%);
    animation: apparition $dureeApparition 0s;
    animation-fill-mode: forwards;
}

//effet hover
$dureeHover:300ms;
a
{
    scale: (1);
    transition: transform $dureeHover;
}
a:hover             
{
    transform: scale(1.1);
    
}

// dimensionnement images
img
{
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}